{% extends "base.html" %}

{% block body %}
<span>
  <!-- testing image -->
  <img src="https://www.dogtime.com/assets/uploads/2018/10/puppies-cover.jpg" alt="">
</span>
  
  <!-- if user adds an image, add jinja code -->
  <img src = "{{ user.image_url }} " alt="">

<span>
  <h1> {{ user.first_name }} {{ user.last_name }}</h1>
</span>

<br>

<span>
  
    <a href="/users/{{ user.id }}/edit"><button>Edit</button></a>
    
    <a href="/users/{{ user.id }}/delete"><button>Delete</button></a>

</span>

<h1>Posts</h1>

  <ul>
 

    {% for post in user.post %}
    <li>
    <a href="/posts/{{post.id}}"> {{ post.title }} </a>
        <!-- date -->
        <p>hello</p>
    </li>
    {% endfor %}
  </ul>

  <a href="/users/{{ user.id }}/posts/new"><button>Add Post</button></a>
  <!-- We will come back to this -->
{% endblock body %}