{% extends "base.html" %}

<h1>Edit a user</h1>

<form action="">
  <div>
    <label for="">First Name</label>
    <input type="text" name="first_name" placeholder="First name here">
  </div>

  <div>
    <label for="">Last Name</label>
    <input type="text" name="last_name" placeholder="Last name here">
  </div>

  <div>
    <label for="">Image URL</label>
    <input type="text" name="profile_pic" placeholder="Your profile picture">
  </div>
  <button>Cancel</button><button>Save</button>
</form>